<%- include('head') %>

<div class="full-screen screen-user">
  <div class="container-fluid">
    <nav aria-label="breadcrumb" class="content-header-breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Atividades Acadêmicas Complementares</li>
      </ol>
      <span><a href="/aac/nova-aac">Criar nova</a></span>
    </nav>
    <div class="users-table">
      <div class="table-responsive set-margin">
        <table class="table table-borderless table-hover">
          <thead class="thead-dark">
            <tr>
              <th>Atividade</th>
              <th>Modalidade</th>
              <th>Horas Equivalentes</th>
              <th>Carga horária limite</th>
              <th></th>
            </tr>
          </thead>
      
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
              <td><span class="material-icons">edit</span></td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Jacob</td>
              <td>Thornton</td>
              <td>@fat</td>
              <td><span class="material-icons">edit</span></td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>Larry</td>
              <td>the Bird</td>
              <td>@twitter</td>
              <td><span class="material-icons">edit</span></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<%- include('footer') %>
