<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- <link rel="shortcut icon" href="assets/favicon.ico"/> -->
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
  <title>AAC</title>
  <style type="text/css">
  
    /* SCROLLBAR */
    ::-webkit-scrollbar {
      width: 12px;
      background: #d8d7d7;
    }
    ::-webkit-scrollbar-thumb {
      -webkit-border-radius: 4px;
      border-radius: 4px;
      background: #c5c5c5;
      border: 1px solid #b3b3b3;
    }

    /* HEADER */
    .header {
      background: linear-gradient(270deg, #1CA392 0%, #9CCCB2 43.23%, #1CA392 92.71%), #FFFFFF;
      height: 85px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .header .nav-link {
      color: white;
    }
    .header .nav-link.active {
      font-weight: 600;
    }
    .logo {
      display: flex;
      align-items: center;
    }
    .logo .school {
      font-size: 80px;
      color: white;
    }
    .logo .text {
      color: white;
      font-size: 40px;
      padding: 0 30px;
      font-style: italic;
      font-weight: 900;
    }

    /* GENERAL */
    body {
      font-family: 'Open Sans', sans-serif;
      color: #494949;
      background-color: #f3f3f3;
    }
    .fluid-content {
      height: 100vh;
    }
    .disabled {
      color: #A8A8A8;
    }
    h5 {
      font-size: 19px;
      font-weight: 900;
    }
    p {
      font-size: 12px;
    }
    a, a:focus, a:hover {
      color: #494949;
      text-decoration: none;
    }
    .card .card-body {
      text-align: center;
    }
    .card {
      width: 700px;
      margin: 0 auto;
      justify-content: center;
      padding: 35px;
      box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
      border: none;
      margin-bottom: 60px;
    }
    .card .card-body p{
      width: 500px;
      margin: 30px auto 60px;
    }
    .btn:focus {
      outline: none;
      box-shadow: none;
    }
    .content-header-breadcrumb {
      display: flex;
      justify-content: space-between;
    }
    .content-header-breadcrumb span {
      padding: 40px 0 10px;
      text-decoration: underline;
      margin-bottom: 1rem;
    }
    .content-header-breadcrumb span a{
      color: #1CA392;
      font-size: 16px;
    }
    ol.breadcrumb {
      background: transparent;
      padding: 40px 0 10px;
    }
    ol.breadcrumb .breadcrumb-item, ol.breadcrumb .breadcrumb-item.active, .table {
      color: #494949;
    }
    ol.breadcrumb .breadcrumb-item.active {
      font-weight: 600;
    }
    .alert {
      margin: 0 auto 1rem;
    }
    .buttons-action {
      display: flex;
      justify-content: space-between;
    }
    .buttons-action .btn.left-button {
      padding: 0;
      font-size: 11px;
      text-decoration: underline;
    }
    .buttons-action .btn.left-button a{
      color: #1CA392;
    }
    .buttons-action .btn.right-button {
      width: 150px;
      height: 35px;
      background-color: #1CA392;
      color: white;
      border-radius: 30px;
    }
    .card .form-control, .card .form-group, 
    .card .form-row, .card .input-group select,
    .input-group .input-group-append .input-group-text {
      font-size: 14px !important;
      height: 40px;
      color: #494949 !important;
    }
    .input-group select{
      cursor: pointer;
    }
    .full-screen {
      width: 80%;
      margin: 0 auto;
    }
    .full-screen .card {
      width: 100%;
    }
    .tiny {
      margin-bottom: 30px;
    }
    .tiny .text-muted{
      font-size: 10px;
      text-align: left;
      margin: 2px;
    }
    .table .thead-dark th {
      font-size: 14px;
    }
    .full-screen .card form{
      width: 35%;
      margin: 0 auto;
    }
    .set-margin {
      margin-bottom: 60px;
    }
    .table-hover tbody tr:hover {
      background-color: #DCECED;
      color: #494949;
    }
    .table-hover {
      margin-bottom: 0;
      padding-bottom: 1rem;
      font-size: 14px;
    }
    table tbody tr {
      background-color: white;
    }
    table.table tr td {
      vertical-align: middle;
    }
    table.table tr td.set-width {
      max-width: 180px;
    }
    table.table tr td.set-size {
      font-size: 12px;
    }
    .custom-file-label::after {
      display: none;
    }
    .card input.form-control:disabled {
      color: #A8A8A8 !important;
      background-color: transparent;
    }
    textarea {
      min-height: 90px;
    }


    /* LOGIN */
    .image-container {
      /* background: url(../assets/image/login-image.jpg) no-repeat; */
      /* background-size: cover; */
      width: 100%;
      height: 100vh;
      opacity: 0.8;
    }
    .image-container .container-fluid {
      display: flex;
      align-items: center;
      height: 100%;
    }
    .image-container .container-fluid .card {
      margin: -85px auto 0;
    }
    .card .card-body .login-form {
      text-align: initial;
      width: 500px;
      margin: 0 auto;
    }
    .card .card-body .login-form .form-group {
      margin-bottom: 35px;
    }


    /* USUARIOS */
    .screen-user .users-table {
      box-shadow: 0px 0px 8px #C5BFBF;
    }

    /* CRIAR USUÁRIO */
    .signup-user .card, .aac-content .card {
      height: auto;
      min-height: 700px;
    }

    /* ENVIO DE SOLICITAÇÃO */
    .envio-form .envio-group{
      margin-bottom: 20px;
    }
    .envio-form .set-margin .custom-file-label{
      text-align: left;
      font-size: 14px;
      color: #494949;
      height: 100%;
      padding: 8px 10px;
    }
    .envio-form .set-margin .input-group-prepend .input-group-text{
      font-size: 14px;
    }
    .pendingSec, .pendingCoo, .editing, .approved {
      border-radius: 10px;
      background-color: #f7f7f7 !important;
      height: 13px;
    }
    .pendingCoo .progress-bar{
      border-radius: 10px;
      background-color: #f1ac44;
      width: 50%;
    }
    .pendingSec .progress-bar {
      width: 75%;
      border-radius: 10px;
      background-color: #f1ac44;
    }
    .editing .progress-bar {
      border-radius: 10px;
      width: 25%;
      background-color: #E06A6A;
    }
    .approved .progress-bar {
      border-radius: 10px;
      width: 100%;
      background-color: #9CCCB2;
    }
    .pendingCoo, .pendingSec {
      border: 1px solid #f1ac44;
    }
    .editing {
      border: 1px solid #E06A6A;
    }
    .priority-high, .priority-high:hover, .priority-high:focus{
      color: #E06A6A;
    }
    .approved {
      border: 1px solid #9CCCB2;
    }
    .upload {
      border: 1px solid #ced4da;
      border-radius: 0px 4px 4px 0px;
      font-size: 14px;
      padding: .375rem .75rem;
    }
    .change-activity {
      text-align: left;
      cursor: default;
      margin-bottom: 5px;
      color: #1CA392 !important;
    }
    .insert-link {
      width: 100%;
      text-align: left;
      font-style: italic;
    }
    .insert-link a {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .deny-btn {
      border-radius: 30px;
      width: 135px;
      padding: 5px 15px;
      font-size: 14px;
      color: white;
      font-weight: 600;
    }
    .deny-btn:hover {
      color: white;
    }
    .deny-btn.ajuste {
      background-color: #f1ac44;
      border-color: #f1ac44;
    }
    .deny-btn.solicitar {
      background-color: #1ca392;
      border-color: #1ca392;
    }
    .change-upload {
      margin-top: -55px;
      text-align: left;
      margin-bottom: 60px;
      cursor: pointer;
      text-decoration: underline;
      color: #1CA392;
    }
    .status-approved {
      cursor: default;
      color: #9CCCB2 !important;
    }
    .need-edition {
      color: #f1ac44 !important;
    }
  </style>
  <script>
    function setModalidade(ev, be) {
      const select = document.getElementById('atividade');
      const optionSelected = select.options[select.selectedIndex].value;

      const a = be.find(a => a.atividade === optionSelected);
      document.getElementById('modalidade').setAttribute('value', a.modalidade); 
    }

    function changeActivity() {
      document.getElementById('atividade').style.display = "block";
      document.getElementById('atividadeSet').style.display = "none";

      document.getElementById('change').style.display = "none";
      document.getElementById('cancel').style.display = "block";
    }
    function setActivity() {
      document.getElementById('atividade').style.display = "none";
      document.getElementById('atividadeSet').style.display = "block";

      document.getElementById('cancel').style.display = "none";
      document.getElementById('change').style.display = "block";
    }

    function changeUpload() {
      document.getElementById('file').style.display = "block";
      document.getElementById('labelInput').style.display = "block";
      document.getElementById('setUpload').style.display = "none";

      document.getElementById('changeUp').style.display = "none";
      document.getElementById('cancelUp').style.display = "block";
    }
    function setUpload() {
      document.getElementById('file').style.display = "none";
      document.getElementById('labelInput').style.display = "none";
      document.getElementById('setUpload').style.display = "block";

      document.getElementById('cancelUp').style.display = "none";
      document.getElementById('changeUp').style.display = "block";
    }


    function envioNegado() {
      const denyValue = document.getElementById('reasonToDeny');
      console.log('denyValue type', document.getElementById('change-type').type);
      console.log('denyValue value', denyValue.value);
      console.log('denyValue length', denyValue.value.length);

      if (denyValue.value.length > 0) {
        document.getElementById('change-type').type = "submit";
        document.getElementById('alert-deny').style.display = "none";
      } else {
        document.getElementById('alert-deny').style.display = "block";
      }
    }

    async function getFile() {
       //File
      const fileInput = document.getElementById('file');
      const fileName = fileInput.files[0].name;
      const fileLabel = document.getElementById("labelInput");
      fileLabel.innerHTML = fileName;
    
      //File Value
      const filePath = fileInput.value;

      console.log('filePath', filePath);

      // Allowing file type
      var allowedExtensions = /(\.jpg|\.jpeg|\.png|\.pdf)$/i;

      // Function Validate
      if (!allowedExtensions.exec(filePath)) {
        document.getElementById('alert-file').style.display = "block";
        fileInput.value = '';
        fileLabel.innerHTML = 'Escolha o arquivo';
        return false;
      } else {
        document.getElementById('alert-file').style.display = "none";
        function getBase64(getFile, callback) {
          var reader = new FileReader();
          reader.readAsDataURL(getFile);
          reader.onload = function result(x) {
          var result = reader.result;
          callback(result);
          };
            reader.onerror = function (error) {
            console.log('Error: ', error);
          };
        }

        function handleResult(result) {
            var stringURL = result;
            var fileBase64 = document.getElementById('fileBase64');
            fileBase64.value = stringURL;
        };
        
        let getFile = document.querySelector('input[type=file]').files[0];

        await getBase64(getFile, handleResult);
      }
    }
  </script>
</head>
<body>
  <!-- HEADER -->
  <div class="fluid-content">