<%- include('head') %>

<div class="image-container">
  <div class="container-fluid">
    <div class="card">
      <%- include('messages') %>
      <div class="card-body">
        <h5>Entre com seu login</h5>
        <p>
          Lorem ipsum a iaculis purus curae mi est habitasse nam auctor sed, class luctus feugiat sociosqu nulla est
          accumsan ac nullam scelerisque. netus nullam accumsan imperdiet sit suscipit rhoncus accumsan, mi velit platea
          urna tristiq.
        </p>

        <form class="login-form" action="/usuarios" method="POST">
          <input type="hidden" name="_csrf" value="<%= csrfToken %>">
          <div class="form-group">
            <input type="email" placeholder="Email" class="form-control" id="username" name="username"
              aria-describedby="emailHelp">
          </div>
          <div class="form-group">
            <input type="password" placeholder="Senha" class="form-control" id="password" name="password">
          </div>
          <span class="buttons-action">
            <button type="button" class="btn left-button">Esqueceu sua senha?</button>
            <button type="submit" class="btn right-button">
              Entrar
            </button>
          </span>
        </form>
      </div>
    </div>
  </div>
</div>

<%- include('footer') %>