<% if(errors.length > 0) {%>
<div style="width: 100%;">
  <div class="alert alert-danger" style="margin: 0 auto 1rem;">
      <% errors.forEach(erro => { %>
        <%= erro %><br>
    <% });%>
  </div>
</div>
<% }%>
<% console.log(errors)%>
