<%- include('head') %>
<div class="container-fluid">
  <nav aria-label="breadcrumb" class="content-header-breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/solicitacoes">Solicitações</a></li>
        <li class="breadcrumb-item" aria-current="page"><a href="/solicitacao/novo-envio">Criar solicitação</a></li>
        <li class="breadcrumb-item active" aria-current="page">Regulamento</li>
    </ol>
    <span><a href="/solicitacao/novo-envio">Voltar</a></span>

  </nav>

  <div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" src="https://ava.sesisenai.org.br/pluginfile.php/100697/mod_resource/content/1/Regulamento_AACs%20-%202013.pdf" allowfullscreen></iframe>
  </div>
</div>
<%- include('footer') %>