<%- include('head') %>

<div class="full-screen signup-user">
  <div class="container-fluid">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/users">Usuários</a></li>
        <li class="breadcrumb-item active" aria-current="page">Criar usuário</li>
      </ol>
    </nav>
    <div class="card">
      <%- include('messages') %>
      <div class="card-body">
        <h5>Cadastro de usuário</h5>
        <p>
          Lorem ipsum a iaculis purus curae mi est habitasse nam auctor sed, class luctus feugiat sociosqu nulla est
          accumsan ac nullam scelerisque. netus nullam accumsan imperdiet sit suscipit rhoncus accumsan, mi velit platea
          urna tristiq.
        </p>

        <form class="signup-form" action="/home/usuarios" method="POST">
          <input type="hidden" name="_csrf" value="<%= csrfToken %>">
          <div class="form-group">
            <input type="text" placeholder="Nome completo" class="form-control" id="name" name="name">
          </div>
          <div class="form-group tiny">
            <div class="form-row">
              <div class="col">
                <input type="text" placeholder="Matricula" class="form-control" id="matricula" name="matricula">
              </div>
              <div class="col">
                <input type="text" placeholder="CPF" class="form-control" id="cpf" name="cpf">
                <small id="cpfFormat" class="form-text text-muted">Ex: 00000000000</small>
              </div>
            </div>
          </div>
          <div class="form-group">
            <input type="email" placeholder="Email" class="form-control" id="username" name="username">
          </div>
          <div class="form-group">
            <input type="password" placeholder="Senha" class="form-control" id="password" name="password">
          </div>
          <div class="form-group">
            <!-- <input type="text" placeholder="Tipo de usuário" class="form-control" id="typeUser" name="typeUser"> -->
            <select class="form-control" placeholder="Tipo de usuário" id="typeUser" name="typeUser">
              <option>Administrador</option>
              <option selected>Aluno</option>
              <option>Secretaria</option>
              <option>Coordenação</option>
            </select>
          </div>
          <span class="buttons-action">
            <button type="button" class="btn left-button">Cancelar</button>
            <button type="submit" class="btn right-button">
              Cadastrar
            </button>
          </span>
        </form>
      </div>
    </div>
  </div>
</div>

<%- include('footer') %>
