
  <!-- HEADER -->
  <div class="fluid-content">
    <div class="header container-fluid">
      <div class="logo">
        <span class="material-icons school">school</span>
        <span class="text">SENAI</span>
      </div>
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link active" href="#">Active</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>
      </ul>
    </div>

    <div class="image-container">
      <div class="container-fluid">
        <div class="card">
          <div class="card-body">
            <h5>Entre com seu login</h5>
            <p>
              Lorem ipsum a iaculis purus curae mi est habitasse nam auctor sed, class luctus feugiat sociosqu nulla est accumsan ac nullam scelerisque. netus nullam accumsan imperdiet sit suscipit rhoncus accumsan, mi velit platea urna tristiq.
            </p>

            <form class="login-form">
              <div class="form-group">
                <input type="email" placeholder="Email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
              </div>
              <div class="form-group">
                <input type="password" placeholder="Senha" class="form-control" id="exampleInputPassword1">
              </div>
              <span class="buttons-login">
                <button type="submit" class="btn forgot-password-button">Esqueceu sua senha?</button>
                <button type="button" class="btn login-confirm">Entrar</button>
              </span>
            </form>
          </div>
        </div>
      </div>
    </div>

  </div>