<%- include('includes/head') %>

<div class="header container-fluid">
  <div class="logo">
    <span class="material-icons school">school</span>
    <span class="text">SENAI</span>
  </div>
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" href="/relatorio-envios">Relatório de envios</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/solicitacoes">Envio de solicitação</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/login-noToken">Sair</a>
    </li>
  </ul>
</div>